[submodule "libraries/Arduino-Temperature-Control-Library"]
	path = libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/ArduinoTemperatureControlLibrary"]
	path = libraries/ArduinoTemperatureControlLibrary
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
